.pre-app-icon{
    color: rgb(0, 0, 0) !important;
}

.pre-app-container{
    text-align: center;
}
body > section > section > div.services-title-container{
    margin-top: 30px;
    margin-bottom: 30px;

}

.team-divider-div{
    height: 10px;
}

.about-member-name{
    display: block;
}

.about-member-details{
    margin-left: 8px;
}

.footer-container{
    margin-left: 45px;
}

.our-services{
    font-size: 45px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px 6px rgb(168, 168, 168);
}

.welcome {
    display: flex;
}
.welcome > img {
    max-height: 100%;
    width:100vw;
}

.main-title {
    font-family: 'Pacifico', cursive; 
    font-size: 6em;
    position: absolute;
    z-index: 2;
    margin:50px;
    color:rgb(255, 255, 255);
    animation:headColor 3s;
    -webkit-animation:headColor 3s infinite;
    text-shadow: 4px 4px 6px black;
}

.main-nav {
    background-color: deeppink !important;
}


@-webkit-keyframes headColor {
    0% {color:rgb(255, 255, 255);}
    50% {color:rgba(255, 233, 37, 0.918);}
    100% {color:rgba(255, 255, 255, 0.966);}
  }
